{% extends 'base_administration.html.twig' %}

{% block title %}Modifier une Contributeur{% endblock %}

{% block body %}
    <h2  class="text-xl font-bold py-5">Modifier un Contributeur</h1>

    {{ include('administration/user/_form.html.twig') }}

{% endblock %}
