{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('administration/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_administration_user_index') }}">back to list</a>

    {{ include('administration/user/_delete_form.html.twig') }}
{% endblock %}
