{% extends 'base_administration.html.twig' %}

{% block title %}Ajouter un Contributeur{% endblock %}

{% block body %}
    <h2 class="text-xl font-bold py-5">Ajouter un Contributeur</h2>

    {{ include('administration/user/_form.html.twig') }}

    
{% endblock %}
