{% extends 'base.html.twig' %}

{% block title %}Accueil - {{project_name}}
{% endblock %}

{% block body %}
    <h1 class="text-cse font-bold text-3xl pb-6">Accueil</h1>
    <div class="bg-white rounded-lg p-8">
        <p>Nous sommes ravis de vous accueillir sur <span class="font-bold">{{project_name}}</span>, la plateforme mathématique exclusive du lycée Saint-Vincent Senlis. Développée avec passion pour enrichir l'expérience éducative de nos étudiants, cette ressource en ligne offre un accès simplifié à une vaste bibliothèque d'exercices mathématiques de qualité.</p>
        <h2 class="text-xl py-5">Explorez les Avantages Spécifiques à Notre Lycée :</h2>
        <ul class="flex flex-col gap-4 list-decimal pl-5">
            <li>
                <p>Exercices Personnalisés : Découvrez une collection soigneusement sélectionnée d'exercices qui complètent notre programme éducatif, adaptés aux niveaux et aux besoins spécifiques de nos élèves.</p>
            </li>
            <li>
                <p>Soutien Pédagogique :  <span class="font-bold">{{project_name}}</span> sert de complément idéal à nos cours, offrant aux enseignants et aux étudiants un outil puissant pour renforcer la compréhension des concepts mathématiques enseignés en classe.</p>
            </li>
            <li>
                <p>Collaboration Communautaire : En tant que membre de notre lycée, participez à la communauté en partageant vos propres exercices, collaborez avec d'autres enseignants et favorisez un environnement d'apprentissage collaboratif.</p>
            </li>
        </ul>
    </div>
    
{% endblock %}
