{% extends 'base_administration.html.twig' %}

{% block title %}Modifier une Thématiques{% endblock %}

{% block body %}
    <h2  class="text-xl font-bold py-5">Modifier une Thématique</h1>

    {{ include('administration/thematic/_form.html.twig') }}
{% endblock %}
