{% extends 'base_administration.html.twig' %}

{% block title %}Modifier une compétence{% endblock %}

{% block body %}
    <h1  class="text-xl font-bold py-5">Modifier une Compétence</h1>

    {{ include('administration/skill/_form.html.twig') }}
{% endblock %}
