{% extends 'base_administration.html.twig' %}

{% block title %}Modifier une Classe{% endblock %}

{% block body %}
    <h2 class="text-xl font-bold py-5">Modifier une Classe</h2>

    {{ include('administration/classroom/_form.html.twig') }}

{% endblock %}
