{% extends 'base.html.twig' %}

{% block title %}Hello ExerciseController!{% endblock %}

{% block body %}
<h1 class="text-cse font-bold text-3xl pb-6">Mes exercices</h1>
<div class="bg-white rounded-lg p-8">
    
</div>
{% endblock %}
