{% form_theme form 'tailwind_2_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
     
    <div class="flex gap-8">
        <a href="{{ path('app_administration_exercise_index') }}" class="px-[2.5rem] rounded-lg py-5 bg-gray-100 text-neutral-600"><i class="fa-solid fa-chevron-left pr-5"></i>Retour à la liste</a>
        <button class="btn px-12 rounded-lg py-5 bg-gray-100 text-neutral-600">Enregistrer</button>
    </div>
{{ form_end(form) }}
