{% extends 'base_administration.html.twig' %}

{% block title %}Modifier un Exercice{% endblock %}

{% block body %}
    <h2  class="text-xl font-bold py-5">Modifier un Exercice</h1>

    {{ include('administration/exercise/_form.html.twig') }}

{% endblock %}
