{% extends 'base_administration.html.twig' %}

{% block title %}Modifier une Recommandation{% endblock %}

{% block body %}
    <h2  class="text-xl font-bold py-5">Modifier une Recommandation</h1>

    {{ include('administration/recommandation/_form.html.twig') }}
{% endblock %}
