{% extends 'base_administration.html.twig' %}

{% block title %}Ajouter une Recommandation{% endblock %}

{% block body %}
    <h2 class="text-xl font-bold py-5">Ajouter une Recommandation</h2>

    {{ include('administration/recommandation/_form.html.twig') }}

{% endblock %}