{% extends 'base_administration.html.twig' %}

{% block title %}Modifier une Matière{% endblock %}

{% block body %}
    <h2  class="text-xl font-bold py-5">Modifier une Matière</h1>

    {{ include('administration/course/_form.html.twig') }}

{% endblock %}
