{% extends 'base_administration.html.twig' %}

{% block title %}Modifier une Origine{% endblock %}

{% block body %}
    <h2  class="text-xl font-bold py-5">Modifier une Origine</h1>

    {{ include('administration/origin/_form.html.twig') }}
{% endblock %}
