{% extends 'base_administration.html.twig' %}

{% block title %}Ajouter une Compétence{% endblock %}

{% block body %}
    <h2 class="text-xl font-bold py-5">Ajouter une Origine</h2>

    {{ include('administration/origin/_form.html.twig') }}

{% endblock %}